<div class="container">
<label>
    Name:
    <input type="text" [formControl]="name">
  </label> 
  <p>
    Value: {{ name.value }}
  </p>
  <p>
    <button (click)="updateName()">Update Name</button>
  </p>

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="MyFirstReactive">
    <div>
    <label>
      First Name:
      <input type="text" formControlName="firstName">
    </label>
  
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
  </div>
  <div formGroupName="addressgroup">
    <h3>Address controls</h3>

    <label>
      Street:
      <input type="text" formControlName="street">
    </label>
    
    <label>
      City:
      <input type="text" formControlName="city">
    </label>
    <label>
      Zip:
      <input type="text" formControlName="zip">
    </label>
  </div>

  <div formArrayName='newformgenerate'>
    <h3>Alises are define here</h3>
    <div><button (click)="addAlias()">Add Alias</button></div>
    <div *ngFor="let alias of newformgenerate.controls;let i=index">
    <label>
      Alias:
      <input type="text" [formControlName]="i">
      </label>
    </div>

  </div>


    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
</div>