.mainAppContainer {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
}
.MyFirstReactive {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}
.MyFirstReactive label {
    width: 100%;
    display: inline-block;
}